body{
    background-size:cover;
    background-position: center;
}

.heading{
    text-align: center;
    font-size: 24px;
    margin:0px;
}

canvas{
    box-shadow: 12px 12px 12px grey;
    border-radius: 10px;
}